<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>IdeaBox</title>
  </head>

  <body>
   

    <div class="container">
      <link rel="shortcut icon" href="http://www.clipartlord.com/wp-content/uploads/2012/12/lightbulb.png"/>
      
      <h1>IdeaBox</h1>
      
      <center><img src="http://images.wikia.com/inanimateinsanity/images/1/14/LightbulbPOSE.png" width="150" height="200"></center>

      <h3>Our Great Ideas!</h3>

      <ul class="center">
          <% ideas.each do |idea| %>
          <li>
          <%= idea.title %><br/>
          <ol><%= idea.description %></ol>
         </li>
        <% end %>
      </ul>
      <p>
        Your Idea:
      </p>
      <form action='/' method='POST'>
        <input type='text' name='idea_title'/><br/>
        <textarea name='idea_description'></textarea><br/>
        <input type='submit'/>
      </form>
    </div>
  </body>
</html>