<!doctype html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>IdeaBox</title>
    <link href='http://fonts.googleapis.com/css?family=Cherry+Swash:700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="http://www.clipartlord.com/wp-content/uploads/2012/12/lightbulb.png"/>
  </head>

  <body>
   

    <div class="container" style= "
        margin-left: 10%;
        margin-right: 10%;
        ">
      <div class="movetitledown">
          <h1 class="title" style= "
          margin-bottom: 10px;
          ">
            <marquee behavior="scroll" style="
            margin-top: 10px;
            ">
             Welcome to IdeaBox!!
            </marquee>
          </h1>
      </div>
      <center><img src="http://images.wikia.com/inanimateinsanity/images/1/14/LightbulbPOSE.png" width="150" height="200"></center>

      <h3>My Great Ideas!</h3>

      <ul class="center">
          <% ideas.each do |idea| %>
          <li><strong>
          <%= idea.title %></strong><br/>
          <ol><%= idea.description %></ol>
         </li>
        <% end %>
      </ul>
      <p>
        Your Idea:
      </p>
      <form action='/' method='POST'>

        <input type='text' name='idea_title'/><br/>
        <textarea name='idea_description'></textarea><br/>
        <input type='submit'/>
      </form>
      <img src="http://www.animationplayhouse.com/aapencildance.gif"/>
      <img src="http://data.whicdn.com/images/26839422/bunny-cute-office-rabbit-Favim.com-235697_large.gif"/>
    </div>
  </body>
</html>